<!-- view when user is logged OUT -->
<section data-ng-controller="HomeController" data-ng-hide="authentication.user">
	<div class="jumbotron">
      <div class="container text-center">
        <h1 class='titleFont'>Welcome to Java Spot</h1>
        <p>A home for Coffee Drinkers. <strong>Like</strong>, <strong>share</strong> and <strong>sip!</strong></p>
        <p><a class="btn btn-primary btn-lg" href="/#!/signin" role="button">Sign In</a>
        <a class="btn btn-primary btn-lg" href="/#!/signup" role="button">Sign Up</a></p>
      </div>
    </div>
	
    <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row info">
        <div class="col-md-4">
          <h2 class='titleFont'>Like</h2>
          <p>Like and comment on your friends recipes and spread the coffee love.</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h2 class='titleFont'>Share Recipes</h2>
          <p>Share your recipes with other coffee enthusiasts and learn new recipes to keep your coffee game on point.</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
       </div>
        <div class="col-md-4">
          <h2 class='titleFont'>Discover</h2>
          <p>Discover coffee places you've never been to before!</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
      </div>

      <hr>
    </div> <!-- /container -->
</section>

<!-- view when user is logged IN -->
<section data-ng-controller="RecipesController" data-ng-init="find()" data-ng-show="authentication.user">
    <div class="page-header text-center">
        <h1>Weclome to JavaSpot, <em>user.username</em></h1>
        <h2 class="subheading">Home Page</h2>
        <p>
        	<em>start exploring different coffee recipes!</em>
        </p>
        <!-- last updated: <span>00:10:10</span> -->
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="list-group">
                <a data-ng-repeat="recipe in recipes" data-ng-href="#!/recipes/{{recipe._id}}" class="list-group-item">
                        <small class="list-group-item-text">
                            Posted on
                            <span data-ng-bind="recipe.created | date:'medium'"></span>
                            by
                            <span data-ng-bind="recipe.user.displayName"></span>
                        </small>
                        <h4 class="list-group-item-heading" data-ng-bind="recipe.name"></h4>
                    <!-- uploaded image -->
                    <img width="75px" height="75px" ng-src="{{recipe.image}}" alt="{{ recipe.description }}" class="img-thumbnail">
                </a>
            </div>
            <div class="alert alert-warning text-center" data-ng-hide="!recipes.$resolved || recipes.length">
                No Recipes yet, why don't you <a href="/#!/recipes/create">create one</a>?
            </div>
        </div>
        <!-- sidebar -->
        <!-- <div class="col-sm-4">
            <h3>Sidebar</h3>
        </div> -->
    </div>
    <!-- /end of row -->
</section>
