<section class="row" data-ng-controller="SettingsController">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Profile Information for <strong data-ng-bind="user.username"></strong>
			</div>
			<div class="panel-body">
				<div class="form-group">
					First Name: <em data-ng-bind="user.firstName"></em>
				</div>
				<div class="form-group">
					Last Name: <em data-ng-bind="user.lastName"></em>
				</div>
				<div class="form-group">
					Email: <em data-ng-bind="user.email"></em>
				</div>
			</div>
		</div>
	</div>
	<!-- posts -->
	<div class="col-md-8">
		<h2>User Recipes Listing</h2>
		<ul class="list-group">
			<li class="list-group-item">
				<h3>Recipe Title</h3>
			</li>
			<li class="list-group-item">
				<h3>Recipe Title</h3>
			</li>
			<li class="list-group-item">
				<h3>Recipe Title</h3>
			</li>
		</ul>
	</div>
</section>