<section data-ng-controller="RecipesController">

    <div class="page-header">
        <h1>New Recipe</h1>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
        <!-- data-ng-submit="create()" \/\/\/ -->
        <!-- added multipart form data -->
        <form class="form-horizontal">
            <fieldset>

                <!-- recipe name -->

                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" name="name" ng-model="recipeName" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>



                <!-- image upload input -->
                <div class="form-group">
                    <label for="image">upload a recipe photo</label>

                    <input type="file" name="image" file-model="recipeFile" id="image" accept="image/*">
                </div>


                <!-- Honey -->
                <div class="form-group">
                    <label for="honey">Honey?</label>
                    <input type="checkbox" name="honey" value="true" data-ng-model="honey" id="honey">
                </div>


                <!-- espressoShots -->
                <div class="form-group">
                    <label for="espressoShots">Shots of Espresso</label>
                    <select name="espressoShots" data-ng-model="espressoShots" id="espressoShots" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>


                <!-- sugar -->
                <div class="form-group">
                    <label for="sugar">Extra Sugar</label>
                    <select name="sugar" data-ng-model="sugar" id="sugar" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>


                <!-- syrup -->
                <div class="form-group">
                    <label for="syrup">Syrup</label>
                    <select name="syrup" data-ng-model="syrup" id="syrup" class="form-control">
                        <option value="none">none</option>
                        <option value="vanilla">vanilla</option>
                        <option value="caramel">caramel</option>
                        <option value="classic">classic</option>
                        <option value="cinnamon">cinnamon</option>
                        <option value="hazelnut">hazelnut</option>
                    </select>
                </div>

                <!-- dairy -->
                <div class="form-group">
                    <label for="dairy">Dairy: </label>
                    <select name="dairy" data-ng-model="dairy" id="dairy" class="form-control">
                        <option value="twoPercent">twoPercent</option>
                        <option value="nonfat">nonfat</option>
                        <option value="whole">whole</option>
                        <option value="soymilk">soymilk</option>
                    </select>
                </div>


                <!-- Description -->

                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea name="description" data-ng-model="description" id="description" placeholder="description" class="form-control" cols="30" rows="2"></textarea>
                    </div>
                </div>

                <!-- Btns -->
                

                <!-- submit -->
                <div class="form-group">
					<button class="btn btn-default" name="Submit" label="submit" ng-click="create()">Submit</button>
                    <!--<input type="submit" class="btn btn-default">-->
                </div>
                <!-- err -->
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>